{% load static %}
{% load i18n %}
<!DOCTYPE html>
{% if language == 'fa' %}
    <html lang="fa" dir="rtl">
{% else %}
    <html lang="en">
{% endif %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block Title %}{% endblock %}</title>
    <link rel="icon" type="image/gif/png" href="{% static 'base/img/logo_title.png' %}">
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}">
    <script src="{% static 'base/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel='stylesheet' href='https://sachinchoolur.github.io/lightslider/dist/css/lightslider.css'>
    {% block ExtraHead %}{% endblock %}
</head>
<style>
    body, h1, h2, h3, h4, h5 {
    {% if language == 'fa' %}
        font-family: IRANSans;
    {% else %}
        font-family: "Raleway", sans-serif
    {% endif %}
    }

    body {
        background-color: var(--asli);
    }

    #middle-search input {
        border-radius: 5px;
        border: 8px solid transparent;
        background-color: #cfcfcf;
        text-align: center;
    }

    #middle-search input:focus {
        background-color: white;
    }

    #middle-search button {
        border-radius: 5px;
        border: 8px solid transparent;
        background-color: green;
        color: white;
        text-align: center;
        width: 100px;
        height: auto;
    }

    @media screen and (max-width: 780px) {
        #middle-search {
            display: none;

        }
    }
</style>
{% block ExtraStyle %}{% endblock %}
<body>
<div class="container-fluid">

    {% block OffCode %}{% endblock %}

    {# header#}
    <div class="row"
         style="height: 80px;background-color: var(--header);padding-right: 0;padding-left: 2.5rem;direction: ltr">

        <div class="col-2 col-md-1 col-lg-1" style="text-align: center">
            <a href="{% url 'order:order_detail' %}">
                <img style="margin-top: 0.5rem;margin-bottom: 0.3rem;width: 45%;height: auto"
                     src="{% static 'base/img/card.png' %}"/>
            </a>
            <p>{% trans "Cart" %}</p>

        </div>
        <div class="col-2 col-md-1 col-lg-1" style="text-align: center">
            {% block Login %}
                {% if request.user.is_authenticated %}
                    {% include 'base/logout.html' %}
                {% elif not request.user.is_authenticated %}
                    {% include 'base/login.html' %}
                {% endif %}
            {% endblock %}
        </div>
        <div class="col-1 col-md-5 col-lg-7" style="text-align: center;padding-top: 1.5rem">
            <form id="middle-search" method="post" action="{% url 'product_search' %}">
                {% csrf_token %}

                <input {% if language == 'fa' %}style="direction: rtl" {% endif %}type="text" name="key" maxlength="30"
                       required="" id="id_key"
                       placeholder="{% trans 'search...' %}">
                <button type="submit">{% trans 'Search' %}</button>
            </form>
        </div>
        <div class="col-7 col-md-5 col-lg-3" style="padding-right: 0;padding-left: 5rem">

            <a href={% url 'home' %}>
                <img style="width: 100%; height: auto;margin-right: 0;margin-bottom: 0.3rem;margin-top: 0"
                     src="{% static 'base/img/logo.png' %}">
            </a>

        </div>

    </div>
    {% block Navbar %}
        <div class="row base-nav" {% if not messages %}
             style="margin-bottom: 3rem"{% endif %}>{% include 'base/navbar.html' with category=category %}</div>
    {% endblock %}
    {% block Messages %}
        <div class="row" style="margin-bottom: 3rem">{% include 'base/message.html' %}</div>{% endblock %}
    {# header#}

    {#body#}
    {% block Body %}{% endblock %}
    {#body#}


    {#    footer#}
    <div class="row" style=" background-color: var(--footer);text-align: center;margin-top: 9rem">
        <div class="row" style="margin-top: 5rem;margin-bottom: 2rem;padding-left: 3rem;padding-right: 3rem">
            <div class="col-12 col-sm-6 col-lg-3" style="text-align: center;margin-bottom: 2rem">
                <img src="{% static 'base/img/trust.svg' %}">
                <p>{% trans 'Online support' %}</p>
            </div>
            <div class="col12 col-sm-6 col-lg-3" style="text-align: center;margin-bottom: 2rem">
                <img src="{% static 'base/img/ert.svg' %}">
                <p>{% trans 'Direct link' %}</p>
            </div>
            <div class="col-12 col-sm-6 col-lg-3" style="text-align: center;margin-bottom: 2rem">
                <img src="{% static 'base/img/taq.svg' %}">
                <p>{% trans 'Money back guarantee' %}</p>
            </div>
            <div class="col-12 col-sm-6 col-lg-3" style="text-align: center;margin-bottom: 2rem">
                <img src="{% static 'base/img/par.svg' %}">
                <p>{% trans 'Secure payment' %}</p>
            </div>

        </div>
        <hr>
        <div class="row" style="margin-bottom: 3rem;margin-top: 2rem">
            <div class="col-4"></div>
            <div class="col-2">
                <a href="https://github.com/amirmasoud1420">
                    <img src="https://img.icons8.com/dusk/64/000000/github.png"/>
                </a>
            </div>
            <div class="col-2">
                <a href="https://www.linkedin.com/in/amirmasoud-talebnia-071b55218/">
                    <img src="https://img.icons8.com/dusk/64/000000/linkedin.png"/>
                </a>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    {#    footer#}
</div>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</body>

</html>