{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block Title %}{% trans 'Change Password' %}{% endblock %}
{% block ExtraHead %}
    <link rel="stylesheet" href="{% static 'customer/css/register.css' %}">
{% endblock %}
{% block ExtraStyle %}
    <style>
        form input{
            margin-bottom: 1rem;
        }
        form li {
            display: none;
        }
    </style>
{% endblock %}
{% block Body %}
    <div class="my-form">
        <form method="post">
            {% csrf_token %}
            {#            {{ form.as_p }}#}
            <input type="password" name="old_password" autocomplete="current-password" autofocus required
                   id="id_old_password" placeholder="{% trans 'Old Password' %}">
            <input type="password" name="new_password1" autocomplete="new-password" required
                   id="id_new_password1" aria-autocomplete="list" placeholder="{% trans 'New Password' %}">
            <input type="password" name="new_password2" autocomplete="new-password" required
                   id="id_new_password2" placeholder="{% trans 'Confirm New Password' %}">
            <button type="submit">{% trans 'save' %}</button>
        </form>
    </div>
{% endblock %}