{#{% extends 'base/base.html' %}#}
{% extends 'customer/profile.html' %}
{% load static %}
{% load i18n %}
{% block Title %}{% trans 'update profile' %}{% endblock %}
{% block ExtraHead %}
    <link rel="stylesheet" href="{% static 'customer/css/register.css' %}">
{% endblock %}
{% block ExtraStyle1 %}
    <style>
        form label {
            display: block;
            color: yellow;
        }

    </style>
{% endblock %}
{% block Profile %}
    <div class="my-form">
        <form method="post" action="{% url 'customer:customer_profile_update' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ customer_form.as_p }}
            <button type="submit">{% trans 'Save' %}</button>
        </form>

    </div>
{% endblock %}