{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block Title %}{% trans 'update profile' %}{% endblock %}
{% block ExtraHead %}
    <link rel="stylesheet" href="{% static 'customer/css/register.css' %}">
{% endblock %}
{% block ExtraStyle %}
    <style>
        form label {
            display: block;
            color: yellow;
        }

    </style>
{% endblock %}
{% block Body %}
    <div class="my-form">
        <form action={% url 'customer:customer_profile_update' %} method="post">
            {% csrf_token %}
            {{ user_form.as_p }}
            <button type="submit">{% trans 'Save' %}</button>
        </form>
{#        <form action={% url 'customer:customer_profile_update' %} method="post" enctype="multipart/form-data">#}
{#            {% csrf_token %}#}
{#            {{ customer_form.as_p }}#}
{#            <button type="submit">{% trans 'Save' %}</button>#}
{#        </form>#}
    </div>
{% endblock %}