{#{% extends 'base/base.html' %}#}
{% extends 'customer/profile.html' %}
{% load static %}
{% load i18n %}
{% block Title %}{% trans 'Update Address' %}{% endblock %}
{% block ExtraHead %}
    <link rel="stylesheet" href="{% static 'customer/css/register.css' %}">
{% endblock %}
{% block ExtraStyle1 %}
    <style>
        form label {
            display: block;
            color: yellow;
        }
    </style>
{% endblock %}
{% block Profile %}
    <div class="my-form">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{% trans 'save' %}</button>
        </form>
    </div>
{% endblock %}