<style>
    .like {
        width: auto;
        margin-left: 2rem;
    }



</style>
{% if user.is_authenticated %}
    {% if user in comment.likes.all %}

        <a href="{% url 'comment_like' comment.id %}"
           class="btn like {% if user  in comment.un_likes.all %} disabled {% endif %}"><i class="fa  fa-thumbs-up"
                                                                                           style="color: greenyellow;font-size: 24px">&nbsp;
            &nbsp;{{ comment.total_likes }}</i></a>
    {% else %}

        <a href="{% url 'comment_like' comment.id %}"
           class="btn  like {% if user  in comment.un_likes.all %} disabled {% endif %}"><i class="fa  fa-thumbs-o-up"
                                                                                            style="color: black;font-size: 20px">&nbsp;
            &nbsp;{{ comment.total_likes }}</i></a>
    {% endif %}

{% endif %}
