{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block Title %}
    {% if language == 'fa' %}
        {% if menu_item_variant.menu_item.name_fa %}
            {{ menu_item_variant.menu_item.name_fa }}
        {% else %}
            {{ menu_item_variant.menu_item.name }}
        {% endif %}
    {% else %}
        {{ menu_item_variant.menu_item.name }}
    {% endif %}

{% endblock %}
{% block ExtraHead %}
    <link rel="stylesheet" href="{% static 'product/css/comment.css' %}">
{% endblock %}
{% block ExtraStyle %}
    <style>
        .img-card {
            height: 400px;
            width: 100%;
            text-align: center;
            background-color: white;
            margin-top: 1rem;

        }

        .my-gal .card {
            background-color: white;
            padding: 14px;
            border: 1px solid black;

        }

        .my-gal .demo {
            width: 100%
        }

        .my-gal ul {
            list-style: none outside none;
        {% if language == 'fa' %}
            padding-right: 0;
        {% else %}
            padding-left: 0;
        {% endif %}
            margin-bottom: 0
        }

        .my-gal li {
            display: block;
            float: left;
        {% if language == 'fa' %}
            margin-left: 6px;
        {% else %}
            margin-right: 6px;
        {% endif %}
            cursor: pointer
        }

        .my-gal img {
            display: block;
            height: auto;
            width: 100%
        }
    </style>
{% endblock %}
{% block Body %}
    <div class="row">


        {#Image#}
        <div class="col-12 col-lg-4 my-gal">
            <div class="card" dir="ltr">
                <div class="demo">
                    <ul id="lightSlider">
                        <li data-thumb="{{ menu_item_variant.menu_item.image_set.last.image.url }}">
                            <img src="{{ menu_item_variant.menu_item.image_set.last.image.url }}"/>
                        </li>
                        {% for i in menu_item_variant.menu_item.image_set.all %}
                            <li data-thumb="{{ i.image.url }}"><img src="{{ i.image.url }}"/>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
        {#        <div class="col-12 col-lg-4 ">#}
        {#            <div class="img-card">#}
        {#                <img style="height: 300px;width: auto"#}
        {#                     src="{% static menu_item_variant.menu_item.image_set.last.image %}">#}
        {#            </div>#}
        {#        </div>#}


        <div class="col-12 col-lg-8">
            <div class="container">
                <div class="row">
                    <div class=" col-12 col-lg-6" style="margin-top: 1rem">

                        {#Name#}
                        <h3>
                            {% if language == 'fa' %}
                                {% if menu_item_variant.menu_item.name_fa %}
                                    {{ menu_item_variant.menu_item.name_fa }}
                                {% else %}
                                    {{ menu_item_variant.menu_item.name }}
                                {% endif %}
                            {% else %}
                                {{ menu_item_variant.menu_item.name }}
                            {% endif %}

                        </h3>

                        {# Rate#}
                        <h4>{% trans 'rate average :' %}&nbsp;&nbsp;{{ menu_item_variant.menu_item.average_rate }}&nbsp;(5)</h4>


                        {#   like and dislike#}
                        {% include 'menu_item/like.html' with menu_item_variant=menu_item_variant  is_like=is_like is_dislike=is_dislike %}
                        {% include 'menu_item/dislike.html' with menu_item_variant=menu_item_variant  is_like=is_like is_dislike=is_dislike %}


                        {# variant - radio#}
                        {% if menu_item_variant.menu_item.status %}
                            <form method="post" {% if language == 'fa' %}style="direction: rtl" {% endif %}>
                                {% csrf_token %}
                                <p>
                                    {% if language == 'fa' %}
                                        {% if menu_item_variant.menu_item.variable_specification_name_fa %}
                                            {{ menu_item_variant.menu_item.variable_specification_name_fa }}:
                                        {% else %}
                                            {{ menu_item_variant.menu_item.variable_specification_name }}:
                                        {% endif %}
                                    {% else %}
                                        {{ menu_item_variant.menu_item.variable_specification_name }}:
                                    {% endif %}


                                    {% for i in variants %}


                                        <small>
                                            {% if language == 'fa' %}
                                                {% if i.variable_specification_value_fa %}
                                                    {{ i.variable_specification_value_fa }}
                                                {% else %}
                                                    {{ i.variable_specification_value }}
                                                {% endif %}
                                            {% else %}
                                                {{ i.variable_specification_value }}
                                            {% endif %}

                                        </small>
                                        <input type="radio" value="{{ i.id }}" name="select"
                                               {% if i == menu_item_variant %}checked{% endif %}
                                               onchange="this.form.submit();">

                                    {% endfor %}</p>
                            </form>
                        {% endif %}






                        {#price    #}
                        {% include 'menu_item/price.html' with menu_item=menu_item_variant %}


                        {#favorites#}
                        <div style="margin-bottom: 2rem">
                            {% if is_favorites %}
                                <a href="{% url 'add_favorites' menu_item_variant.menu_item.id %}"><i
                                        class="fa fa-heart"
                                        style="color: red;font-size: 24px"></i></a>
                            {% else %}
                                <a href="{% url 'add_favorites' menu_item_variant.menu_item.id %}"><i
                                        class="fa fa-heart-o"
                                        style="color: red;font-size: 24px"></i></a>
                            {% endif %}
                        </div>


                        {#cart#}
                        {% include 'order/add_to_cart.html' with menu_item_variant=menu_item_variant %}


                        {#description#}
                        {#                <p>{{ menu_item_variant.menu_item.description|safe }} </p>#}


                    </div>
                    <div class=" col-12 col-lg-6" style="margin-top: 1rem">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                {##}
                                {#                                <th scope="col">{% trans 'Name' %}</th>#}
                                {#                                <th scope="col">{% trans 'Value' %}</th>#}

                            </tr>
                            </thead>
                            <tbody>
                            {% for i in menu_item_variant.menu_item.specifications.all %}
                                <tr>

                                    <td><b>
                                        {% if language == 'fa' %}
                                            {% if i.name_fa %}
                                                {{ i.name_fa }}
                                            {% else %}
                                                {{ i.name }}
                                            {% endif %}
                                        {% else %}
                                            {{ i.name }}
                                        {% endif %}

                                    </b></td>
                                    <td style="text-align: center">
                                        {% if language == 'fa' %}
                                            {% if i.value_fa %}
                                                {{ i.value_fa }}
                                            {% else %}
                                                {{ i.value }}
                                            {% endif %}
                                        {% else %}
                                            {{ i.value }}
                                        {% endif %}

                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="text-align: center;margin: auto;margin-top: 3rem">
            <p>
                {% if language == 'fa' %}
                    {% if menu_item_variant.menu_item.description_fa %}
                        {{ menu_item_variant.menu_item.description_fa|safe }}
                    {% else %}
                        {{ menu_item_variant.menu_item.description|safe }}
                    {% endif %}
                {% else %}
                    {{ menu_item_variant.menu_item.description|safe }}
                {% endif %}

            </p>
        </div>


    </div>


    <hr>


    {#    Similar Product#}
    <div class="row" style="margin: auto;padding: 10px">
        {% for i in similar_product %}
            <div style="margin-top: 1rem;margin-bottom: 1rem" class="col-12 col-md-6  col-lg-4 col-xl-3">
                {% include 'menu_item/menu_item_card.html' with menu_item=i.menuitemvariant_set.last %}

            </div>
        {% endfor %}
    </div>


    {#    comment#}
    <div class="row" style="margin-top: 3rem;padding: 10px;text-align: center">

        {% include 'menu_item/comment_form.html' with menu_item_variant=menu_item_variant comment_form=comment_form %}
        {% include 'menu_item/comments.html' with comments=comments menu_item_variant=menu_item_variant %}
    </div>


    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
    <script src='https://sachinchoolur.github.io/lightslider/dist/js/lightslider.js'></script>
    <script>
        $('#lightSlider').lightSlider({
            gallery: true,
            item: 1,
            loop: true,
            slideMargin: 0,
            thumbItem: 9
        });
    </script>
{% endblock %}