{% load static %}
{% load i18n %}
<style>
    .menu_item_card {

        border: solid 0.5px gray;
        text-align: center;
        width: 250px;
        height: 358px;
    {#border-radius: 10px;#}
        box-shadow: 1px 0.5px 7px 2px #858585;
        background-color: white;

    }

    .my-btn {
        width: 99%;
        height: 40px;
        font-size: 1rem;
    {#margin-bottom: 0.5rem;#}{#border-radius: 0;#}
    }
</style>
<div class="menu_item_card">
    <img style="width: auto;height:50%;margin-bottom: 1rem" src="{% static menu_item.menu_item.image_set.last.image %}">
    <p>{% trans 'Name : ' %}{{ menu_item.menu_item.name }}</p>
    <p>{% trans 'Brand : ' %}{{ menu_item.menu_item.brand.name }}</p>
    <p>{% trans 'Price : ' %}{{ menu_item.price }}{% trans ' Toman' %}</p>
    <a href="#">
        <button class="btn btn-primary my-btn">{% trans 'Show Detail' %}</button>
    </a>

</div>