{% load i18n %}
{#<form method="post">#}
{#    {#}
{#    <input type="hidden" name="menu_item_variant_id" value={{ menu_item_variant.id }}>#}
{#    <button type="submit" class="btn btn-danger"#}
{#            {% if menu_item_variant.count < 1 or not user.is_authenticated %}disabled{% endif %}>{% trans "Add to cart" %}</button>#}
{#    {% if not user.is_authenticated %}#}
{#        <small>&nbsp;&nbsp;{% trans 'first login' %}</small>#}
{#    {% endif %}#}
{#    {% if menu_item_variant.count < 1 %}#}
{#        <small>&nbsp;&nbsp;{% trans 'not currently available' %}</small>#}
{#    {% endif %}#}
{#</form>#}

<a href="{% url 'order:order_add' pk=menu_item_variant.id %}"
   class="btn btn-danger
   {% if menu_item_variant.count < 1 or not user.is_authenticated %}disabled{% endif %}">{% trans "Add to cart" %}</a>
{% if not user.is_authenticated %}
    <small>&nbsp;&nbsp;{% trans 'first login' %}</small>
{% endif %}
{% if menu_item_variant.count < 1 %}
    <small>&nbsp;&nbsp;{% trans 'not currently available' %}</small>
{% endif %}